* {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #9999ff;
  height: 100%;
}

.welcome__title {
  background-color: #981e53;
  width: fit-content;
  padding: 0 1.5rem;
  border-radius: 1rem 0 1rem 0;
  font-size: 2rem;
  font-family: Oswald, sans-serif;
}

.welcome__container {
  width: 790px;
  position: relative;
  top: -8rem;
  height: fit-content;
  margin-left: 4rem;
}
.welcome__container p {
  margin: auto;
}

.welcome__description {
  color: black;
  display: flex;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000a65;
  border-bottom: #ffe57a 2px solid;
}
.header .header__container {
  width: 100%;
  display: flex;
  margin-left: 3rem;
}
.header .header__container .header__logo .header__title {
  font-family: Big Shoulders Display, cursive;
  padding: 1rem 0;
}
.header .header__container .header__logo .header__title span {
  background-color: #ffe600;
  border-radius: 100%;
  color: black;
  padding: 0.5rem;
}
.header .header__container .sections {
  display: flex;
}
.header .header__container .sections .sections__item {
  margin: 0 1.5rem;
  color: white;
  text-decoration: none;
  background-color: #9999ff;
  font-size: larger;
  font-weight: 700;
  padding: 0rem 0.5rem;
  border-radius: 1rem;
  border: #ffe57a 2px solid;
  margin-top: 1rem;
  min-width: 8rem;
  min-height: 4.1rem;
  cursor: pointer;
}
.header .header__container .sections .sections__item img {
  height: 3rem;
  position: relative;
  z-index: 0;
  margin-left: 2rem;
}
.header .header__container .sections .sections__item a {
  text-decoration: none;
  text-align: left;
  color: white;
  font-family: Patua One;
  text-shadow: 2px 2px black;
  z-index: 1;
  position: absolute;
  max-width: 2rem;
  line-height: 1rem;
}

.sections :hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.links__container {
  margin-left: 4rem;
  position: relative;
  top: -9rem;
}
.links__container .links__item {
  list-style-type: disc;
  color: rgb(230, 216, 28);
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
.links__container a {
  font-size: 1.2rem;
  font-weight: 700;
  color: #8d0606;
  text-decoration: underline;
}

.gifs__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
  gap: 2rem;
}
.gifs__container .gif__item {
  width: 300px;
  height: 300px;
  background-color: #000a65;
  border-radius: 1rem;
  border: #ffe57a 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gifs__container .gif__item img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.books__container {
  position: relative;
  height: 75vh;
}
.books__container .books__critiques {
  width: 50%;
  color: black;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
  margin-top: 2rem;
}
.books__container .books__critiques .books__img {
  align-self: flex-end;
  bottom: 20rem;
  position: relative;
}
.books__container .items__container .books__item {
  margin: 1rem 0;
}
.books__container .items__container .books__item span {
  font-weight: 500;
}
.books__container .items__container .books__item .critic {
  font-size: 0.9rem;
  font-weight: 600;
}

.books__title {
  background: linear-gradient(to top, #ff3399 0%, #ff3399 50%, #ff6601 50%, #ff6601 100%);
  width: fit-content;
  margin: auto;
  bottom: 0%;
  margin-top: 0;
  position: relative;
  padding: 0 3rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/*# sourceMappingURL=index.css.map */
